.question-wrapper {
  .question-wrapper__question {
    .question-wrapper__question-word {
      font-weight: bolder;

      span {
        font-weight: bolder !important;
      }
    }
  }

  .question-wrapper__answer {
    label {
      flex-direction: column;

      img {
        //max-width: 211px;
        //max-height: 118px;
        width: 100%;
        height: auto;
      }
    }

    .btn-play {
      margin-top: 16px;
    }
  }

  .question-wrapper__answer-text {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;

    span {
      &:nth-child(3) {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .question-wrapper {
    .question-wrapper__answer-text {
      font-size: 17px;
    }
  }
}
