.question-buttons {
  padding-top: 46px;
  text-align: center;

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #00B233;
    height: 44px;
    width: 214px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #fff;
    font-weight: 500;
    letter-spacing: .025em;
    border: 0;
    margin-left: 16px;
    &:first-of-type {
      margin-left: 0;
    }
    &.gray {
      background-color: #B5B5B5;
    }
    &.red {
      background-color: #E22742;
    }
  }
}
