.questions {
  height: 100%;
  overflow-y: scroll;
  padding: 20px;

  .questions__list {
    list-style: decimal;
    padding-left: 35px;

    ul {
      padding-left: 30px;
    }

    pre {
      margin-bottom: 5px;
    }

    .questions__list-title {
      font-size: 1.4em;
      text-decoration: underline;
      margin: 10px 0;
    }

    a {
      color: #508cff;
    }
  }

  .questions__answers {
    padding-top: 15px;

    li.correct {
      font-weight: bolder;
      text-decoration: underline;
      font-size: 1.2em;
      color: red;
    }
  }
}
