* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto";
}

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.container {
  width: 1140px;
  margin: auto;
}

.btn-play {
  width: 24px;
  height: 24px;
  background: url("./assets/imgs/play.png") no-repeat center center;
  background-size: contain;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.full-page {
  height: 100%;
  width: 100%;
}
