.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0d1319;
  height: 70px;
  -webkit-box-shadow: 0 10px 16px 5px rgba(34, 31, 31, 0.08);
  -moz-box-shadow: 0 10px 16px 5px rgba(34, 31, 31, 0.08);
  box-shadow: 0 10px 16px 5px rgba(34, 31, 31, 0.08);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;

    img {
      width: 100%;
      max-width: 190px;
    }
  }
}
