.question-wrapper.--sound-image {

  .question-wrapper__question {

    .question-wrapper__question-word {
      font-weight: bolder;
    }

    .question-wrapper__question-img {
      overflow: hidden;
      padding-top: 21px;

      img {
        max-width: 270px;
      }
    }
  }

  .question-wrapper__answer {
    label {
      flex-direction: column;

      img {
        //max-width: 211px;
        //max-height: 118px;
        width: 100%;
        height: auto;
      }
    }

    .btn-play {
      margin-top: 16px;
    }
  }

  .question-wrapper__answer-text {
    //font-weight: bolder;
  }
}
