.question-wrapper {
  .question-wrapper__question {
    .question-wrapper__question-word {
      font-weight: normal;
      max-width: 800px;
      font-size: 1.25rem;
      padding-left: 49px;
      text-align: center;

      > div {
        div {
          display: flex;
          text-align: left;

          p {
            font-weight: bolder;
            &:first-of-type {
              margin-right: 7px;
            }

            span {
              font-size: 1rem;
            }
          }
        }
      }

      span {
        display: block;
        font-size: 1.25rem;
        width: 100%;
        font-weight: normal;
      }
    }
  }

  .question-wrapper__answer {
    label {
      flex-direction: column;

      img {
        //max-width: 211px;
        //max-height: 118px;
        width: calc(100% + 20px);
        height: auto;
      }
    }

    .btn-play {
      margin-top: 16px;
    }
  }
}
